@layer base {
	a {
		@apply underline;
	}
}
@tailwind base;
@layer components {
	input {
		@apply px-4 py-4 rounded-lg;
	}
	
	#drawer-view input {
		@apply w-full pt-6 pb-2;
	}

	#drawer-view > article {
		@apply relative flex-grow basis-1 lg:basis-5/12;
	}

	#drawer-controls > article {
		@apply flex-grow basis-5/12 my-4 lg:my-0;
	}

	label {
		@apply absolute top-2 pl-4 text-xs font-bold
	}

	.quantity-control button {
		@apply px-2 border border-gray-700 text-gray-700 rounded-md;
	}

	.px-responsive {
		@apply px-8 sm:px-16 lg:px-32;
	}
}
@tailwind components;
@layer utilities {
	
}
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
